.wp-block-kia-post-subtitle {
	word-break: break-word;
	// This block has customizable padding, border-box makes that more predictable.
	box-sizing: border-box;

	a {
		display: inline-block;
	}

	&.no-subtitle {
		opacity: 0.333;
	}
}